body {
  margin: 0;
  background-color: aliceblue;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading {
  font-size  : 20px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.menu {
  z-index: 9999;
  border-radius: 50%;
  font-weight: bold;
  font-size: 22px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
